@charset "utf-8";
/* CSS Document */
body {
background-color: #ffffe9;
background-size: cover;
margin: 0;
}

a {
    font-family: Nunito;
    font-weight: 1000;
    text-decoration: none;
    color: #ffffff;
    text-align: justify;
    display: block;
    width: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    padding: 38px;
    margin-left: 1%;
}

a:hover{
    color: black;
}

.shopping_cart {
    position: absolute;
    left: 95%;
    top:5%;
    font-size: 3em;
    color: #ffffff;
}

.logo img {
    width: 200px;
}

.logo {
    width: 150px;
    height: 155px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 72%;
    margin: auto;
    text-align: center;
}

.img {
    max-width: 130px;
    height: auto;
}

.Img_Index {
width: 19%;
height: 25%;
position: absolute;
left: 59%;
bottom: -24%;
}


h1, h2, h3, h4 {
    margin: 33px;
    padding: 0px;
    
}

h1 {
    font-family: luckiest Guy;
    color: #ff8e31;
    -webkit-text-stroke: thin;
    -webkit-text-stroke-color: black;
    font-size: 59px;
    width: 32%;
    text-align: left;
    position: absolute;
    bottom: 25%;
    left: 5%;
}

h2 {
    font-family: lato;
    color: black;
    font-size: 15px;
    width: 50%;
    margin-top: 30%;
    margin-left: auto
}

h3 {
    font-family: lato;
    color: black;
    font-size: 15px;
    width: 93%;
}

h4 {
    font-family: lato;
    color: black;
    font-size: 15px;
    width: 24%;
    position: absolute;
    left: 400px;
    bottom: -21%;
}

h5 {
   font-family: Nunito;
    font-weight: 1000;
    color: #ff8e31;
    font-size: 26px;
    width: 26%;
    position: absolute;
    left: 433px;
    bottom: -14%;
}

h6 {
    font-family: lato;
    color: black;
     -webkit-text-stroke: thin;
    -webkit-text-stroke-color: black;
    font-size: 15px;
    width: 100%;
    margin-top: 25px;
    margin-left: 0px;
    text-align: center;
}

h10 {
        font-family: luckiest Guy;
    color: #ff8e31;
    -webkit-text-stroke: thin;
    -webkit-text-stroke-color: black;
    font-size: 59px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 75%;
    left: 0%;
}

h11 {
    font-family: lato;
    font-weight: 600;
    font-size: 15px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 73%
}
    


#container {
    list-style: none;
    margin: 0;
    display: flex;
    text-align: left;
    align-items: center;
    background-color: #ff6b6b;
    padding: 60px 0;
    width: 100%;
    height: 30px;
    justify-content: flex-start;
    clear: both;
}

#container li{
display: inline-block;
text-align: center;
}

.flex-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    clear: left;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 0;
}

.flex-container > div {
    margin-top: 100px;
    margin-right: 30px;
    margin-left: 30px;
    line-height: 0;
}

.flex-container1 > div {
    color: #ffffe9;
    width: 25%;
    height: 60px;
    margin: 0px;
    text-align: center;
    line-height: normal;
    font-size: 30px;
}

.flex-container2 {
    display: flex;
    background-color: #ffffe9;
    justify-content: center;
    align-items: center;
    clear: both;
}

.flex-container2 > div {
    background-color: #ff8e31;
    color: #ff8e31;
    width: 45%;
    margin-top: 26%;
    text-align: center;
    line-height: normal;
    font-size: -97px;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #ff6b6b
}

.footerContainer {
    margin-top: 340px;
    display: column;
    column-gap: normal;
    width: 100%;
    padding: 25px 0px 25px;
    height: 60px;
    text-align: left;
    justify-content: center;
}

.footerContainer_Shop {
    list-style: none;
    margin-top: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 75px 0;
    width: 100%;
    height: 20px;
    justify-content: center;
    clear: both;
}

.footerContainer_About {
    list-style: none;
    margin-top: 5%;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 75px 0;
    width: 100%;
    height: 20px;
    justify-content: center;
    clear: both;
}

.footerContainer_Contact {
    list-style: none;
    margin-top: 5%;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 75px 0;
    width: 100%;
    height: 20px;
    justify-content: center;
    clear: both;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    font-family: Nunito;
    font-weight: 1000;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    width: auto;
}

.footerBottom_Shop {
    background-color: #000;
    padding: 20px;
    font-family: Nunito;
    font-weight: 1000;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    width: auto;
}

.footerBottom_About {
    background-color: #000;
    padding: 20px;
    font-family: Nunito;
    font-weight: 1000;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    width: auto;
}

.footerBottom_Contact {
    background-color: #000;
    padding: 20px;
    font-family: Nunito;
    font-weight: 1000;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    width: auto;
}

#Container_Contact {
    background-color: #ff8e31;
    list-style: none;
    margin-top: 6%;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 75px 0;
    width: 100%;
    height: 225px;
    justify-content: center;
    clear: both;
}

#Contact_Icon {
    display: flex;
    justify-content: center;
}

#Contact_Icon a {
    text-decoration: none;
    padding: 0px 20px;
}

#Contact_Icon a i{
    font-size: 12em;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 0px 20px;
}

.socialIcons a i{
    font-size: 2em;
}


.flex-container3 {
    display: flex;
    background-color: #ffffe9;
    justify-content: center;
    clear: both;
    margin-top: 57px;
}

.flex-container3 > div > li {
    color: black
}

.flex-container3 > div > div > li {
    color: black;
}

.flex-container3 > div {
    background-color: #ff8e31;
    color: #ffffff;
    width: 21%;
    margin: 10px;
    text-align: left;
    line-height: 35px;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.flex-container3 > div > h7 {
    font-family: Nunito;
    font-weight: 1000;
    text-decoration: none;
    background-color: #ff8e31;
    color: #2a7e15;
    width: 85%;
    margin: 0px;
    text-align: left;
    line-height: 35px;
    font-size: 20px;
    padding-left: 0px;
}

.flex-container3 > div > h8 {
    font-family: Nunito;
    font-weight: 1000;
    text-decoration: none;
    background-color: #ff8e31;
    color: #b22626;
    width: 85%;
    margin: 0px;
    text-align: left;
    line-height: 35px;
    font-size: 20px;
    padding-left: 0px;
}

.flex-container3 > div > h9 {
    font-family: Nunito;
    font-weight: 1000;
    text-decoration: none;
    background-color: #ff8e31;
    color: #1469bf;
    width: 85%;
    margin: 0px;
    text-align: left;
    line-height: 35px;
    font-size: 20px;
    padding-left: 0px;
}

c {
    font-family: lato;
    color: black;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    width: auto;
}

